#crontab is overriding by /home/ec2-user/git/lego/sysadm/crontab every 10 mins.
*/10 * * * *  crontab /home/ec2-user/git/lego/sysadm/crontab >/dev/null 2>&1
*/10 * * * *  /home/ec2-user/git/lego/sysadm/git_publish.sh >/dev/null 2>&1
0 * * * *     /home/ec2-user/git/lego/sysadm/legoshop_scan.sh >/dev/null 2>&1
10,40 * * * *	/usr/bin/php /home/ec2-user/htdoc/brickset_updater.php >> /home/ec2-user/logs/brickset_updater.log 2>&1
15 * * * *	/usr/bin/php /home/ec2-user/htdoc/walmart_scan.php >> /home/ec2-user/logs/walmart_scan.log 2>&1
30 9,15,21 * * *	/usr/bin/php /home/ec2-user/htdoc/amazon_scan.php >> /home/ec2-user/logs/amazon_scan.log 2>&1
45 * * * *	/usr/bin/php /home/ec2-user/htdoc/toysrus_scan.php >> /home/ec2-user/logs/toysrus_scan.log 2>&1
#5,20,35,50 0-5,15-23 * * *	/usr/bin/php /home/ec2-user/htdoc/add_friend.php >> /home/ec2-user/logs/add_friend.log 2>&1
*/10 * * * *	/usr/bin/php /home/ec2-user/htdoc/youtube_update.php >> /home/ec2-user/logs/youtube_update.log 2>&1
*/10 * * * *	/usr/bin/php /home/ec2-user/htdoc/news_update.php >> /home/ec2-user/logs/news_update.log 2>&1
*/5 * * * *	/usr/bin/php /home/ec2-user/htdoc/twitter_publish.php >> /home/ec2-user/logs/twitter_publish.log 2>&1
