#crontab is overriding by /home/ec2-user/git/lego/sysadm/crontab every 10 mins.
*/10 * * * *  crontab /home/ec2-user/git/lego/sysadm/crontab >/dev/null 2>&1
*/10 * * * *  /home/ec2-user/git/lego/sysadm/git_publish.sh >/dev/null 2>&1
0 * * * *     /home/ec2-user/git/lego/sysadm/legoshop_scan.sh >/dev/null 2>&1
